<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mygoodsupporter.dao.MemberDAO">
	<resultMap id="MemberResultMap" type="Member">
		<result property="id" column="m_id"/>
		<result property="password" column="m_password"/>
		<result property="name" column="m_name"/>
		<result property="phone" column="m_phone"/>
		<result property="email" column="m_email"/>
		<collection property="authorities" ofType="Authority">
			<result property="memberId" column="m_id"/>
			<result property="authority" column="authority"/>
		</collection>
	</resultMap>

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER(M_ID,M_PASSWORD,M_NAME,M_PHONE,m_email)
		VALUES(#{id},#{password},#{name},#{phone},#{email})
	</insert>

	<select id="getMemberById" parameterType="String" resultMap="MemberResultMap">
		SELECT
			member.m_id as m_id,
			m_password as m_password,
			m_name as m_name,
			m_phone as m_phone,
			m_email as m_email,
			authority
		FROM MEMBER LEFT OUTER JOIN Authority on member.m_id = authority.M_ID
		WHERE member.M_ID = #{id};
	</select>

	<insert id="insertAuthority" parameterType="Authority">
		INSERT INTO authority(M_ID, AUTHORITY) VALUES (#{memberId}, #{authority})
	</insert>
</mapper>