<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mygoodsupporter.mapper.OrderMapper">
<!--    <insert id="insertOrder" parameterType="Order">-->

<!--    </insert>-->

    <select id="getById" parameterType="Long" resultType="Order">
        SELECT id, userId, projectId, rewardId, amount, paymentStatus FROM orders WHERE userId = #{id}
    </select>
    <update id="changeStatus" parameterType="Order">
        UPDATE orders
        set paymentStatus = #{paymentStatus}
        where id=#{id}
    </update>

</mapper>