<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mygoodsupporter.mapper.PaymentMapper">

    <!-- 카드 정보 기입 -->
    <insert id="insertCard" parameterType="Card" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO card
            (user_id, card_number, expired_date, card_password, date_of_birth)
        VALUES (#{userId},#{cardNumber}, #{expiredDate}, #{cardPassword}, #{dateOfBirth})
    </insert>


    <select id="getCardListByUserId" parameterType="Long" resultType="Card">
        SELECT id, user_id, card_number, expired_date, card_password, date_of_birth FROM card WHERE user_id = #{userId}
    </select>


    <select id="getCardById" parameterType="Long" resultType="Card">
        SELECT id, user_id, card_number, expired_date, card_password, date_of_birth
            FROM card
            WHERE id = #{id}
    </select>

    <update id="updateCard" parameterType="Card">
        UPDATE card
            <set>
                <if test ="cardNumber != null">card_number=#{cardNumber},</if>
                <if test ="expiredDate != null">expired_date=#{expiredDate},</if>
                <if test ="cardPassword != null">card_password=#{cardPassword},</if>
                <if test ="dateOfBirth != null">date_of_birth=#{dateOfBirth}</if>
            </set>
        where id=#{id}
    </update>

    <delete id="deleteCard" parameterType="Long">
        DELETE from card where id = #{id}
    </delete>
</mapper>
