<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mygoodsupporter.mapper.ProjectDAO">

	<resultMap id="ProjectResultMap" type="Project">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="name" column="name"/>
		<result property="slug" column="slug"/>
		<result property="targetAmount" column="target_amount"/>
		<result property="currentAmount" column="current_amount"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="content" column="content"/>
		<result property="status" column="status"/>
		<result property="titleImageName" column="title_image_url"/>
		<result property="contentsImageName" column="contents_image_url"/>
	</resultMap>


	<insert id="insert" parameterType="Project">
		INSERT INTO project
		(id, user_id, name, target_amount, start_date, end_date, content, status, title_image_url, contents_image_url)
		VALUES
		(nextval(project_seq), #{userId}, #{name}, #{targetAmount}, #{startDate}, #{endDate}, #{content}, #{status}, #{titleImageName},#{contentsImageName})
	</insert>

	<select id="projectList" parameterType="Project" resultMap="ProjectResultMap">
		SELECT *
		FROM project
		WHERE user_id = #{userId}
	</select>

	<select id="projectUpdate" parameterType="Long" resultMap="ProjectResultMap">
		SELECT *
		FROM project
		WHERE id = #{id}
	</select>

	<update id="projectUpdateProcess" parameterType="Project">
		UPDATE project SET
						   name = #{name},
						   target_amount = #{targetAmount},
						   start_date = #{startDate},
						   end_date = #{endDate},
						   content = #{content},
						   title_image_url = #{titleImageName},
						   contents_image_url = #{contentsImageName}
		WHERE id = #{id}
	</update>


	<update id="update" parameterType="Project">
		UPDATE project SET
						   user_id = #{userId},
						   name = #{name},
						   target_amount = #{targetAmount},
						   current_amount = #{currentAmount},
						   content = #{content},
						   status = #{status}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="Long">
		delete from project where id=#{id}
	</delete>


</mapper>