<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mygoodsupporter.dao.ProposalMapper">

	<insert id="insertProposal" parameterType="Proposal" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO proposal
		    (member_id, title, description, target_amount, status)
		VALUES
			(#{memberId}, #{title}, #{description}, #{targetAmount}, #{status})
	</insert>

	<update id="updateProposal" parameterType="Proposal">
		UPDATE proposal SET
			title = #{title},
			description = #{description},
			target_amount = #{targetAmount},
			status = #{status}
		WHERE id = #{id}
	</update>

	<delete id="deleteProposal" parameterType="Long">
		DELETE FROM proposal WHERE id = #{proposalId}
	</delete>

</mapper>