<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Simsa">

	<insert id="insert" parameterType="Simsa">
		insert into
			simsa(s_number,s_p_number,s_result,s_reason)
		values(s_number.nextval,#{s_p_number},#{s_result},#{s_reason})
	</insert>

</mapper>